.work_direction {
	min-height: 350px;
}

.wd_descrition {
	min-height: 75px;
}
/*.carousel img {
	width: auto;
	height: 360px;
	max-height: 360px;
	min-width: 0 !important;
}

.carousel-inner > .carousel-item > img{
	margin: 0 auto !important;
}

.carousel-inner>.carousel-item > img,
.carousel-inner>.carousel-item>a> img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
  margin: auto;
  width: 100%;
}