.btn btn-primary btn-sm button { margin-left: auto;
    margin-right: auto;
}

.lead { font-family: serif;
	text-align: center;
	font-size: 24pt;
	font-style: italic;
	font-weight: bold;
}


.media img { border: 6px dashed #00FA9A;
	margin-bottom:  15px ; 
}
.mt-0  {text-align:  center;
	 border: 4px dashed #00FA9A;

}
 
